.titleActor {
    text-align: center;
}

.containerImgActor {
    display: flex;
    height: 500px;
    padding-left: 2%;
}

.imgActor {
    border-radius: 7px;

    height: 100%;
    display: block;
}

.infoActorContainer {
    display: flex;
    flex-direction: column;
}

.filmoContainer {
    display: flex;
    flex-wrap: wrap;
}

.imgFilmoContainer {
    padding: 1%;
    flex: 1 1 30%
}

.imgFilmo {
    width: 100%;
    border-radius: 7%;
}

.infoActorContainer {
    padding: 4%;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .containerImgActor {
        display: block;
    }

    .imgActor {
        margin: auto;
    }

    .titleMovieFilmo {
        text-decoration: none;
        font-size: small;
        color: black;
        margin: 1px
    }

}