.containerHeaderImg {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    position: relative;
}

.containerHeaderImgNight {
    background-color: #070926;
    display: flex;
    align-items: center;
    position: relative;
}

.imgHeader {
    padding: 10px
}

.containerImgSearch {
    display: flex;
    flex: 0 0 6vw;
}