.searchBarContainer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.inputSearch {
    width: 350px;
    height: 40px;
}

.buttonStyle {
    margin: 10px;
    height: 40px;
}

.selectedComponent {
    position: absolute;
    width: 80%;
}