.searchBarContainer {
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.inputSearch {
    padding-left: 10px;
    border: none;
    outline: none;
    width: 350px;
}

.buttonStyle {
    border: none;
    background-color: transparent;
    margin: 8px 10px 8px;
}

.selectedComponent {
    position: absolute;
    top: 52px;
    width: 100%;
    box-shadow: 0px 0px 7px #c3bbbb;
}

@media screen and (max-width : 600px) {
    .searchBarContainer {
        margin: 0 5%;
    }

    .inputSearch {
        outline: none;
        width: 100%;
    }
}